

<h1>TINY APP</h1
<% if( currentUser){ %>
<h1>Logged-in as <%= currentUser.email %></h1>
 <p> <form method="POST" action="/logout">
   <input type="submit" value="Logout">  
 </form> </P>
<% } else { %>
<h2><a href="/login">LOGIN</a> | <a href="/register">REGISTER</a> </h2>
<% } %>
<hr>

 
 

