<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>TinyApp</title>
</head>
<body>


    <!-- Add your EJS code here -->
  <p>REGISTER</p>
 <form method="POST" action="/register">
 <label for="email">Email :</label>
 <input  id="email" type="email" name="email" placeholder = "Username...">
  <label for="password">Password :</label>
 <input id="password" type ="password" name="password" placeholder ="Password...">
 <input type="submit" value="Register">  
  </form>
</body>
</html>

