*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-weight: 400;
  padding: 3rem;
  color: #777;
}

header {
  height: 20vh;
  border: 1px solid gray;
}

header div {
  display: flex;
}

main {
  height: 70vh;
  border: 1px solid gray;
}

footer {
  height: 10vh;
  border: 1px solid gray;
}
