<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <!-- Add your EJS code here -->
<h1>URLS</h1>
<ul>
   <li><%= shortURL %> : <%= urls[shortURL] %></li>
</ul>

</body>
</html>