*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 0.8vw;
  /* width: 100%; */
}

body {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 3rem;
  width: 100%;
}
.container {
  /* width: 100%; */
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
}

/* header Styles */

header {
  /* border-bottom: 1px solid black; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header > * {
  flex: 1;
}
.logo-box {
  /* background: lightblue; */
  flex: 1;
}
.logo-box img {
  height: 150px;
}

.navbar {
  background: #fff;
}
.navbar__list {
  display: flex;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  /* align-content: stretch; */
  list-style: none;
}
.navbar__item {
  margin-right: 4em;
}
.navbar__item a {
  color: #e67e22;
  text-decoration: none;
}
.user__email {
  font-size: 3rem;
}

/* main style */
main {
  height: 70vh;
  flex: 1;
  border: 3px solid #e67e22;
  border-radius: 10px;
  overflow: scroll;
}

.collection__header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
}

.collection__create {
  text-decoration: none;
  color: #fff;
  padding: 5px 10px 5px 10px;
  font-size: 1.2em;
  background: #e67e22;
  border: 2px solid#e67e22;
  border-radius: 20px;
}

.urls__list {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.urls__item {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  border-bottom: 2px solid gray;
  margin: 10px;
  list-style: none;
  padding: 10px;
}

#urls__scroll {
  overflow: hidden;
}

/* urls table : row items */

.item__shortUrl {
  flex: 2;
}
.item__longUrl {
  flex: 6;
}
.item__views {
  flex: 1;
}
.item__uniqueViews {
  flex: 1;
}
.item__edit {
  flex: 1;
}
.item__delete {
  flex: 1;
}

/* edit url page */

.edit__header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10rem;
  font-size: 3rem;
  border-bottom: 2px solid black;
  text-decoration: none;
}
.edit__form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.edit__form .edit__submit {
  height: 2.5em;
  font-size: 1.2rem;
  margin-left: 20px;
}

.edit__input {
  font-size: 3rem;
  border: none;
  border-bottom: 2px solid gray;
  outline: none;
  padding: 0.5rem 0 0.5rem 0;
}

/* visietrs log  */
.visiters__log > h2 {
  text-align: center;
  padding: 1em 0;
}

.visiters__list {
  display: flex;
  flex-direction: column;
}
.visiters__detail {
  margin: 15px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

.visiters__id {
  flex: 2;
}
.visiters__time {
  flex: 6;
}

/* new url page */

.new__container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* login form page */

.login__container,
.register__container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login__form,
.register__form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 300px;
  width: 300px;
  border: 3px solid darkgrey;
  border-radius: 10px;
}

.login__form label,
.register__form label {
  font-size: 1.5em;
  text-align: center;
  color: #e67e22;
}

.login__item,
.register__item {
  font-size: 1em;
  color: gray;
  height: 2em;
  width: 90%;
  border: none;
  outline: none;
  border-bottom: 2px solid #e67e22;
}

.login__form .btn--submit,
.register__form .btn--submit {
  width: 90%;
  background-color: #e67e22;
  height: 40px;
  border-radius: 15px;
  color: white;
  font-size: 1em;
  padding: 5px 0 5px 0;
  cursor: pointer;
  text-align: center;
}

/* button styles */

.btn {
  background-color: #e67e22;
  height: 30px;
  border-radius: 15px;
  font-size: 1em;
  padding: 0 20px 0 20px;
  cursor: pointer;
  text-align: center;
  color: white;
}

.btn:hover {
  outline: none;
  transform: translateY(-5px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.6);
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

/* footer styles */
footer {
  /* border-top: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 0 1em 0;
}
